Nav{
  float:left;
  width: 130px;
  background-color: rgb(184, 232, 248);
  height: 700px;
}

Body{
  Margin: 0;
}

Header{
  Background-color: #a6dbf3;
  height: 90px;
  font-size: 80px;
  text-align-last: center;
}

article{
  background-color: white;
  width: 85vw;
  margin: 0 auto; 
}

Aside{
  float:right;
  width: 130px;
  height: 700px;
}
footer{
  background-color: #a9a9a9;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
}

